<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
    aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header border border-bottom">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">{{subCategory.categoryName}}'s subcategories</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <ng-container *ngIf="subCategory.subCategories.length < 1 && !subCategory.noSub">
        <div class="loader-container">
         <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
        </div>
    </ng-container>

    <ng-container *ngIf="subCategory.subCategories.length > 0">
        <div class="offcanvas-body">
            <div class="row align-items-center">
                <ng-container *ngFor="let subCategory of subCategory.subCategories">
                    <div class="col-6 my-3">
                        <div class="card">
                            <h6 class="text-center p-3">{{subCategory.name}}</h6>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="subCategory.subCategories.length < 1 && subCategory.noSub">
        <p class="no-sub">No sub categories</p>
    </ng-container>
</div>