<div class="container my-5">
    <h3>Reset your account password</h3>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <small>Email</small>
        <input type="email" [formControlName]="'email'" class="form-control">
        <small>Password</small>
        <input type="password" [formControlName]="'newPassword'" class="form-control">
        <button type="submit" class="btn bg-main text-center text-white ms-auto d-block mt-3"
        [disabled]="!resetPasswordForm.valid">Reset Password</button>
    </form>
</div>